<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Biblioteca{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'cadastrar_usuario.css' %}">
    <link rel="stylesheet" href="{% static 'cadastrar_livro.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<nav>
    <a href="{% url 'index' %}">📚 Vitrine</a>

    {% if user.is_authenticated %}
        <a href="{% url 'home' %}">🏠 Meus Livros</a>
        <a href="{% url 'solicitacoes' %}">✉️ Solicitações</a>
        <span>Olá, {{ user.username }}!</span>

        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Entrar</a>
        <a href="{% url 'cadastro' %}">Criar Conta</a>
    {% endif %}
</nav>

<div class="container">
    {% block content %}
    
    {% endblock %}
</div>

<footer>
    <p>© 2025 Grupo 10 - Troca de Livros</p>
</footer>

</body>
</html> 